section.b-section.b-section_about
	.container
		.b-about.b-wrap_border
			hgroup.b-hgroup.text-center
				h2.b-title.b-title_pink.b-title_offset-top Будь любого цвета
				h3.b-subtitle.b-subtitle_cyan.
					Будь собой с новыми ароматами Colors от Benetton.
			article.b-article.b-article_about.text-center
				p Люди, населяющие нашу планету, отличаются друг от друга не только языком, на котором говорят, но и цветом волос, глаз, кожи. Да, все мы разные, но это не повод отстраняться друг от друга, наоборот – различия помогают нам объединиться! И, кроме того, каким бы был мир без цвета? Блеклым. Мир в цвете – лучший мир. Именно эта мысль и является лейтмотивом новой линейки ароматов итальянского бренда BENETTON, который предлагает не бояться выделиться из толпы и взглянуть на мир сквозь яркую, жизнерадостную палитру цветов.
								
				p #[b Новая коллекция] – это два аромата, раскрывающихся взрывом бирюзового и розового цветов. 

				p #[b Первый – Colors Pink] – женственный и чувственный. Богатый аромат розы увлечет тебя в цветочное сердце парфюма, которое оттеняется освежающими нотами итальянских цитрусов и маракуйи. Они придают Colors Pink игривость и искристость.

				p #[b Второй – Colors Blue] – свежий и соблазнительный. Он раскрывается яркой, искристой смесью севильского апельсина и энергичного юдзу. Женственные ноты нероли и характерные ноты чая матэ наделяют парфюм элегантностью, подчеркнутоий прозрачноий фрезиеий.

				p #[b Будь любого цвета! Будь собой с новыми ароматами Colors от Benetton!]

