section.b-section.b-section_collection
	.container
		.row
			.col-xs-12
				.b-collection
					.b-collection-image
						img(src="./assets/img/collection.png")
					.b-collection-content
						.b-collection__logo
							img(src="./assets/img/logo/benetton.png")
						.b-collection__text
							.b-text-row.b-text-row_pink we are colors
							.b-text-row.b-text-row_cyan новая коллекция женских ароматов
						.b-collection__btn
							a.b-btn.b-btn_next Подробнее