section.b-section.b-section__contest
	.b-contest
		.container
			.row
				.col-xs-12
						h2.b-title.b-title_gray Конкурс
			.b-contest-list
				.row
					.col-xs-12.col-sm-4
						.b-contest-item
							.b-contest-item__icon.b-contest-item__icon_cycle
								img(src="./assets/img/icons/cycle.png")
							.b-contest-item__text.
								Поделись с друзьями своим результатом теста
					.col-xs-12.col-sm-4
						.b-contest-item
							.b-contest-item__icon.b-contest-item__icon_heart
								img(src="./assets/img/icons/heart.png")
							.b-contest-item__text.
								Расскажи в посте, за что любишь/не любишь этот цвет
					.col-xs-12.col-sm-4
						.b-contest-item
							.b-contest-item__icon.b-contest-item__icon_perfume
								img(src="./assets/img/icons/perfume.png")
							.b-contest-item__text.
								Выиграй один из ароматов Colors de Benetton

