header.b-header.clearfix
	.container
		//- cosmo logo
		.b-logo.b-logo_cosmo.pull-left
			a(href="javascript:void(0)")
				img(src="./assets/img/logo/cosmo.png")
		//- navigate
		nav.b-nav.hidden-xs
			ul.b-nav-list.list-unstyled
				li.b-nav__item
					a.b-nav__link.b-nav__link_active(href="javascript:void(0)") Цвет твоего дня
				li.b-nav__item
					a.b-nav__link(href="javascript:void(0)") Colors
		//- benetton logo
		.b-logo.b-logo_benetton.pull-right
			a(href="javascript:void(0)")
				img(src="./assets/img/logo/benetton.png")
