section.b-section.b-section_test
	.container
		.b-test
			.row
				.col-xs-12.col-md-5
					.b-test-cube
						.b-test-cube__title.visible-xs.visible-sm.
							Цвет #[b твоего] дня
						.b-test-cube__wrap
				.col-xs-12.col-md-7

					//- include ../test/start
					//- include ../test/question
					//- include ../test/loading
					//- include ../test/result

	.b-test-hint.b-test-hint_red
		.container
			.b-test-hint-wrap
				.b-test-hint__image
					img(src="./assets/img/hint.png" alt="" title="")
				.b-test-hint-content
					.b-test-hint__title.b-title.b-title_gray модный совет
					.b-test-hint-text
						p.text-bold.
							Ну а если ты не можешь решиться надеть, скажем, платье желтого цвета, а предпочитаешь одеваться скромнее, то твой вариант – желтые аксессуары, которые моментально преобразят весь облик.
						p.
							При выборе вещи желтого цвета стоит помнить, что этот цвет вполне самодостаточен – отдавай предпочтение минимуму деталей, простоте силуэта и прямым линиям. Аксессуары к яркой одежде тоже лучше подбирать минималистичные.