doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title Benetton
	meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	link(rel="stylesheet" href="./css/index.css")


body
	include ./layout/header
	main.b-main
		include ./layout/test
		include ./layout/contest
		include ./layout/about
		include ./layout/collection
	include ./layout/footer