.btn-arrow
	display inline-block
	padding 11px 35px 10px 0
	font-size 17px
	line-height 1
	font-family 'RobotoCondensed Bold'
	text-transform uppercase
	color $green
	background-size 29px 34px
	background-position right center
	background-repeat no-repeat
	background-image url(../assets/img/icons/arrow/green.png)
	@media media-pad
		font-size 22px
		padding-right 40px
	@media media-large
		font-size 23px
	&:hover
		color $yellow
		background-image url(../assets/img/icons/arrow/yellow.png)




.b-btn
	display inline-block
	width 140px
	height 32px
	line-height @height
	text-transform uppercase
	text-align center
	background-color $green
	@media media-pad
		width 88px
		height 20px
	@media media-desktop
		width 112px
		height 30px
	@media media-desktop
		width 140px
		height 32px
	&_next
		font-size 0
		background url(../assets/img/next_btn.png) no-repeat
		background-size 100% 


.b-test-start__btn
	width 245px
	height 57px
	text-align center
	line-height @height
	text-transform uppercase
	color #fff
	font-size 22px 
	font-family 'RobotoCondensed Bold'
	background linear-gradient(to bottom, $greenLight 0%, $greenLight 50%, $greenDark 50%, $greenDark 100%)
	cursor pointer
	&:hover
		background $greenLight
	@media media-pad
		width 258px
	@media media-desktop
		width 301px
		height 67px
		font-size 26px
		line-height @height
	@media media-large
		width 356px
		height 79px
		line-height @height
		font-size 30px