.b-logo
	display block
	cursor pointer
	outline none
	> a
		text-decoration none
		display block
	img
		width 100%
		vertical-align top

	&_cosmo
		width 129px
		height 23px
		margin 10px 0
		@media media-pad
			width 166px
			height 31px
			margin 20px 0
		@media media-desktop
			width 208px
			height 38px
			margin 24px 0

	&_benetton
		width 132px
		height 43px
		@media media-pad
			width 207px
			height 68px
		@media media-desktop
			width 259px
			height 86px