.b-test-social
	white-space nowrap
	text-align center
	&__list
		.social-wrapper
			margin 0
		.social.social-open .social-shares
			vertical-align top
		.ya-share2__badge
			width 20px
			height @width
			background-repeat no-repeat
			background-size 100%
			display inline-block
			vertical-align top
			margin-right 10px
			background-color transparent!important
			@media media-large
				width 25px
				height @width
			&:last-child
				margin-right 0
		.ya-share2__item_service_vkontakte .ya-share2__badge
			background-image url(../assets/img/social/vk.png)
			.ya-share2__icon
				background none
			&:hover
				background-image url(../assets/img/social/active/vk.png)
		.ya-share2__item_service_facebook .ya-share2__badge
			background-image url(../assets/img/social/fb.png)
			.ya-share2__icon
				background none
			&:hover
				background-image url(../assets/img/social/active/fb.png)
		.ya-share2__item_service_twitter .ya-share2__badge
			background-image url(../assets/img/social/tw.png)
			.ya-share2__icon
				background none
			&:hover
				background-image url(../assets/img/social/active/tw.png)
	&__list
	&__title
		display inline-block
		vertical-align middle
	
	&__item
		width 20px
		height @width
		background-repeat no-repeat
		background-size 100%
		display inline-block
		vertical-align top
		margin-right 10px
		@media media-large
			width 25px
			height @width
		&:last-child
			margin-right 0
		&_vk
			background-image url(../assets/img/social/vk.png)
			&:hover
				background-image url(../assets/img/social/active/vk.png)
		&_fb
			background-image url(../assets/img/social/fb.png)
			&:hover
				background-image url(../assets/img/social/active/fb.png)
		&_tw
			background-image url(../assets/img/social/tw.png)
			&:hover
				background-image url(../assets/img/social/active/tw.png)