.b-title
	text-transform uppercase
	color $colorTitle
	font-size 40px
	line-height 1
	text-align center
	font-family 'RobotoCondensed Bold'
	margin-bottom 18px
	letter-spacing -3px
	@media media-pad
		font-size 50px
		line-height 55px
	@media media-desktop
		font-size 62px
		line-height 54px

	&_pink
		color $pink