.is-hidden
	display none !important
.is-unvisible
	visibility hidden

.is-hidden_mobile
	@media media-mobile
		display none

.is-hidden_ipad
	@media media-ipad
		display none

.is-hidden_desktop
	@media media-desktop
		display none

