.b-section_about
	padding-bottom 20px
	@media media-pad
		padding-bottom 30px
	@media media-desktop
		padding-bottom 60px

.b-about
	border 5px solid $yellow
	padding 17px
	@media media-pad
		padding 27px
	@media media-desktop
		padding 40px

	.b-title
		margin-top -40px
		@media media-pad
			margin-top -50px
			margin-bottom 0
		@media media-desktop
			margin-top -60px
		@media media-large
			margin-top -65px 


	.b-subtitle
		font-family 'RobotoCondensed Bold'
		font-size 25px
		line-height 30px
		text-transform uppercase
		@media media-pad
			font-size 30px
			line-height 35px
			margin-top 0
		@media media-desktop
			font-size 33px
			line-height 47px
			white-space nowrap
			margin-top 5px
		@media media-large
			font-size 35px
			margin-top 10px

		&_cyan
			color $cyan

.b-article_about
	font-size 15px
	line-height 20px
	@media media-pad
		font-size 18px
	@media media-pad
		font-size 20px
		line-height 22px
	p
		margin-bottom 20px
		@media media-pad
			margin-bottom 25px
		&:last-child
			margin-bottom 0
