.b-section_collection
	@media media-pad
		margin-bottom 20px

.b-collection
	@media media-pad
		white-space nowrap
		font-size 0

	&-content
		position relative
		background-repeat no-repeat
		background-size 161px 155px
		background-position center top 20px
		background-image url(../assets/img/perfume/collection_mob.png)
		padding-top 180px
		@media media-pad
			display inline-block
			vertical-align top
			width 147px
			height 444px
			background-image url(../assets/img/perfume/collection_web.png)
			background-size 100%
			background-position center top
		@media media-desktop
			width 190px
			padding-top 340px
			height 577px
		@media media-large
			width 235px
			height 700px

	&__logo
		position absolute
		right 0
		top 0
		width 94px
		height 32px
		img
			width 100%
			vertical-align top
		@media media-pad
			top 20px
		@media media-desktop
			width 130px
			height 45px
		@media media-large
			width 154px
			height 51px


	&-image
		width 100%
		margin-bottom 17px
		@media media-pad
			margin 0
			width 577px
			display inline-block
			vertical-align top
		@media media-desktop
			width 750px
		@media media-large
			width 910px
		img
			width 100%
	

	&__text
		width 170px
		margin 10px auto 0
		text-align center
		font-family 'RobotoCondensed Bold'
		font-size 20px
		line-height 20px
		text-transform uppercase
		letter-spacing -1px
		@media media-pad
			width 100px
			padding-left 10px
			text-align center
			white-space normal
			text-align left
			position absolute
			bottom 40px
			left 0
		@media media-desktop
			bottom 60px
			font-size 26px
			line-height 1 
		@media media-large
			font-size 30px
		.b-text-row
			margin-bottom 5px
			@media media-pad
				margin 0
			&:last-child
				margin-bottom 0


	&__btn
		width 100%
		text-align center
		padding 12px 0 17px
		@media media-pad
			position absolute
			bottom 10px
			left 10px
			text-align left
			padding 0


