.b-section__contest
	padding-bottom 60px
	@media media-pad
		background url(../assets/img/bg/benefits.png) no-repeat
		background-position center top
		margin-bottom 50px
		padding-bottom 20px
	@media media-desktop
		padding 10px 0 30px
		margin-bottom 70px
		background-size cover
	@media media-large
		padding 30px 0 40px
		margin-bottom 90px

.b-contest
	&-list
		@media media-pad
			margin-top 20px
	&-item
		display block
		width 220px
		margin 0 auto 25px
		text-align center
		@media media-pad
			margin-bottom 0

		&__icon
			margin-bottom 15px
			@media media-pad
				margin-bottom 20px
				&_perfume
						margin-top -35px
						margin-bottom 5px 

		&__text
			font-family 'RobotoCondensed Regular'
			font-size 18px
			line-height 22px
			@media media-desktop
				font-size 22px
				line-height 24px
