.b-header
	background-color $colorTitle
	overflow hidden
	margin-bottom 24px
	@media media-pad
		height 68px
		margin-bottom 33px
	@media media-desktop
		height 86px

.b-nav
	float left

	&-list
		white-space nowrap
		margin 0
		height 100%
		margin 28px 0 0 70px
		@media media-desktop
			margin 39px 0 0 90px

	&__item
		display inline-block
		margin-right 25px
		&:last-child
			margin-right 0

	&__link
		font-family 'RobotoCondensed Regular'
		text-transform uppercase
		font-size 18px
		text-decoration none
		color #fff
		border-bottom 8px solid transparent
		display block
		padding-bottom 7px
		@media media-desktop
			font-size 22px
			line-height 24px
			padding-bottom 15px
		&:hover, &:visited
			color #FFF
			text-decoration none
		

		&_active
			color $green
			border-bottom-color $green