.b-section_test
	margin-bottom 20px
	@media media-pad
		margin-bottom 30px
	@media media-desktop
		margin-bottom 40px
.b-test
	border 5px solid $yellowLight
	padding 17px
	@media media-pad
		padding 27px
	@media media-desktop
		padding 35px


	&-cube
		background-color $yellow
		padding 15px
		margin-bottom 15px
		@media media-pad
			position relative
		&__wrap
			@media media-pad
				max-width 100%
				width 100%
				height 100%
				position absolute
				right 0
				top 0
				> *
					width 100%
					max-width 100%
				width 311px
				height 100%
			@media media-desktop
				width 100%
		@media media-desktop
			width 369px
			height 363px
			margin-bottom 0
		@media media-large
			width 463px
			height 455px

		&__title
			font-family 'RobotoCondensed Light'
			font-size 43px
			line-height @font-size
			width 123px
			text-align center
			margin 0 auto
			text-transform uppercase
			letter-spacing -3px
			@media media-pad
				font-size 59px
				line-height 65px
				text-align left
				width 200px
				margin 20px 0
			@media media-desktop
				position absolute
				left 40px
				top 0
				margin 0
				font-size 51px
				line-height 49px
			@media media-large
				font-size 75px
				line-height 73px
				left 50px

	&-content
		font-family 'RobotoCondensed Regular'
		font-size 18px
		line-height 22px