.b-test-loading-wrap
	.b-test-cube__title.hidden-xs.hidden-sm.
		Цвет #[b твоего] дня
	.b-test-content
		.b-test-start__text.text-center Выбери 4 картинки, которые нравятся тебе больше других и узнай, какой цвет сегодня твой.
		.b-test-loading
			.b-test-loading__text вычисляем результат