.b-test-question
	.b-test-cube__title.hidden-xs.hidden-sm.
		Цвет #[b твоего] дня
	.b-test-content
		.b-test-start__text.text-center Выбери 4 картинок, которые нравятся тебе больше других и узнай, какой цвет сегодня твой.
		.b-test-list
			.b-test-item.b-test-item_black
				img(src="./assets/img/test/black/1.jpg" alt="" title)
			.b-test-item.b-test-item_white
				img(src="./assets/img/test/white/1.jpg" alt="" title)
			.b-test-item.b-test-item_yellow
				img(src="./assets/img/test/yellow/1.jpg" alt="" title)
			.b-test-item.b-test-item_red
				img(src="./assets/img/test/red/1.jpg" alt="" title)