.b-test-result
	.b-test-content
		.b-test-result-text.
			Если ты хочешь выделяться из толпы и не боишься этого, то желтый цвет создан специально для тебя. Это символ жизнерадостности, солнца, лета и света. Вот увидишь, желтый цвет обязательно поднимет тебе настроение и не позволит погрязнуть в серых буднях!
		.b-test-social
			.b-test-social__title поделиться
			.b-test-social__list
				.b-test-social__item.b-test-social__item_vk
				.b-test-social__item.b-test-social__item_fb
				.b-test-social__item.b-test-social__item_tw
		.b-test__btn-row
			.b-test__btn-repeat.btn-arrow пройти заново
		.b-test-result-text-adv
			.b-article.b-article-adv
				b Кстати, не забывай о том, что идеальным завершением любого образа является туалетная вода.
				br
				br
				|Вне зависимости от того, какой цвет преобладает в твоей одежде и даже в твоем настроении – черный или белый, красный или желтый, – новые ароматы от итальянского бренда Benetton придадут тебе еще больше элегантности! Colors Pink в розовом флаконе – цветочный, женственный и чувственный. Colors Blue в бирюзовом флаконе – цитрусовый, свежий и соблазнительный. Попробуй!
