.b-test-start
	.b-test-cube__title.hidden-xs.hidden-sm.
		Цвет #[b твоего] дня
	.b-test-content
		.b-test-start__text.text-center Выбери 4 картинки, которые нравятся тебе больше других и узнай, какой цвет сегодня твой. #[span.hidden-xs.hidden-sm Рекомендации по модным сочетаниям – в результатах теста.]
		.b-test-start__btn Начать тест