.b-test-hint
	background-color $yellow
	margin-top 130px
	position relative
	padding-bottom 30px
	@media media-pad
		margin-top 60px
		background-color #fff
		padding-bottom 60px
	@media media-desktop
		padding-bottom 70px
	@media media-large
		margin-top 90px

	&_black
		background-color $gray
		color #fff
		.b-title
			color #fff
		@media media-pad
			.b-test-hint-wrap
				background-color $gray
				color #fff
				.b-title
					color #fff

	&_white
		background-color $white
		@media media-pad
			.b-test-hint-wrap
				background-color $white

	&_red
		background-color $red
		color #fff
		.b-title
			color $yellow
		@media media-pad
			.b-test-hint-wrap
				background-color $red
				color #fff
			.b-title
				color $yellow

	&_yellow
		background-color $yellow
		@media media-pad
			.b-test-hint-wrap
				background-color $yellow

	&-wrap
		@media media-pad
			height 290px

	&-content
		@media media-pad
			display inline-block
			vertical-align top
			width 400px
			padding-top 30px
		@media media-desktop
			width 600px
			.b-title
				text-align left
		@media media-large
			width 750px
			padding 40px 0
			.b-title
				margin-bottom 30px
	
	&__image
		display block
		margin -102px auto 20px
		width 136px
		@media media-pad
			margin 0 30px 0
			width 222px
			height 333px
			position relative
			top -20px
			display inline-block
		img
			width 100%
			vertical-align top
	
	&-text
		font-size 15px
		line-height 17px
		text-align center
		font-family 'RobotoCondensed Regular'
		width 245px
		margin 0 auto
		@media media-pad
			text-align left
			width auto
		@media media-large
			font-size 17px 
			line-height 18px
		.text-bold
			font-size 17px
			line-height 18px
			font-family 'RobotoCondensed Bold'
			margin-bottom 20px
