.b-test-loading
	height 420px
	position relative
	@media media-pad
		height 270px
		width 480px
		margin 0 auto
	@media media-desktop
		height 297px
	@media media-large
		height 347px
		margin 0 0 0 25px

	&-wrap
		.b-test-cube__title
			@media media-desktop
				font-size 27px
				line-height 30px
				width 100px
			@media media-large
				font-size 38px
				line-height 37px

		.b-test-start__text
			@media media-desktop
				text-align left
				font-size 18px
				line-height 22px
				margin-left 130px
			@media media-large
				padding-top 43px


	&__text
		position absolute
		top 50%
		left 0
		width 100%
		text-align center
		padding-top 55px
		margin-top -@padding-top
		text-transform uppercase
		font-family  'RobotoCondensed Bold'
		font-size 27px
		line-height 30px
		background url(../assets/img/icons/loading.png) no-repeat center top
		@media media-pad
			padding 0
			margin 0
			transform translateY(-50%)
			background-position left 50px center
		@media media-desktop
			padding 5px 0 5px 60px
			text-align left
			margin-left 20px
			background-position left top 
		@media media-large
			font-size 38px 
