.b-test-question

	.b-test-cube__title
		@media media-desktop
			font-size 27px
			line-height 30px
			width 100px
		@media media-large
			font-size 38px
			line-height 37px

	.b-test-start__text
		@media media-desktop
			text-align left
			font-size 18px
			line-height 22px
			margin-left 130px
		@media media-large
			padding-top 43px

.b-test

	&-list
		margin-top 24px
		font-size 0
		@media media-pad
			text-align center
		@media media-desktop
			padding-top 5px
			padding-left 25px
			white-space nowrap
		@media media-large
			padding-left 35px

	&-item
		vertical-align top
		display inline-block
		height 206px
		width 50%
		cursor pointer
		position relative
		overflow hidden
		@media media-pad
			width 120px
			height 270px
		@media media-large
			width 142px
			height 318px
		&:after
			content ''
			position absolute
			top 0
			left 0
			height 100%
			width 100%
			opacity 0
			background-color $yellow
			transition opacity .2s linear
			^[1]_black&, ^[1]:nth-child(1)&
				background-color $gray
			^[1]_white&, ^[1]:nth-child(2)&
				background-color #fff
			^[1]_yellow&, ^[1]:nth-child(3)&
				background-color $yellow
			^[1]_red&, ^[1]:nth-child(4)&
				background-color $red

		&:hover::after
				opacity .8
		img
			vertical-align top
			width 100%