.b-test-result
	@media media-desktop
		min-height 425px
	@media media-large
		min-height 510px

.b-test
	.b-article-adv
		@media media-pad
			width 340px
			margin 0 auto

	&-result

		&-text
			color $green
			font-family 'RobotoCondensed Bold'
			font-size 21px
			line-height 23px
			text-align center
			margin-bottom 15px
			@media media-pad
				padding 10px 0
			@media media-desktop
				text-align left
				padding 0 0 0 25px
				font-size 19px
				line-height 22px
			@media media-large
				padding-left 45px
				font-size 23px
				line-height 26px

			&-adv
				padding-top 140px
				background-repeat no-repeat, no-repeat
				background-image url(../assets/img/perfume/collection_mob.png), url(../assets/img/objects/zigzag.png)
				background-size 99px 95px, auto
				background-position center top, center top 110px
				text-align center
				font-size 15px
				line-height 17px
				@media media-pad
					background-repeat no-repeat
					background-image url(../assets/img/perfume/blue.png), 
													 url(../assets/img/perfume/pink.png),
													 url(../assets/img/objects/zigzag.png)
					background-size 125px 174px, 86px 131px, auto
					background-position left top, right bottom, center top
					padding-top 50px
				@media media-desktop
					text-align left
					width 100%
					padding 30px 0 50px 130px
					background-image url(../assets/img/perfume/blue.png), 
													 url(../assets/img/objects/zigzag.png)
					background-size 125px 174px, auto
					background-position left 10px top 100px, left 130px top
					position relative
					&:after
						content ''
						position absolute
						bottom -70px
						right 0
						width 86px
						height 131px
						background url(../assets/img/perfume/pink.png) no-repeat
						background-size 100%
					@media media-large
						background-size 194px 273px, auto
						background-position left top 100px, left 180px top 15px
						width 590px
						padding 50px 0 90px 180px
						margin-left -20px
						font-size 17px
						line-height 18px
						&:after
							width 146px
							height 224px
							bottom -100px
							right -60px

					.b-article
						width 100%

				b
					font-size 17px
					line-height 18px
					@media media-large
						font-size 22px
						line-height 24px
				

	&-social
		background-color $gray
		width 100%
		padding 12px 20px
		color #fff
		white-space nowrap
		margin-bottom 13px
		@media media-pad
			width 370px
			text-align center
			display inline-block
		@media media-desktop
			position absolute
			top 390px
			transform translateX(-100%)
			margin 0
		@media media-large
			width 463px
			top 475px
			margin-left 10px

		&__title
			display inline-block
			vertical-align middle
			text-transform uppercase
			font-family 'RobotoCondensed Bold'
			font-size 17px
			line-height 1
			margin-right 23px
			@media media-pad
				font-size 22px
			@media media-large
				font-size 23px

	&__btn-row
		text-align center
		margin-bottom 20px
		@media media-pad
			display inline-block
			margin-left 65px
		@media media-desktop
			z-index 10
			position absolute
			bottom -20px
			left 120px
			margin 0
		@media media-large
			left 175px
			bottom -10px 