.b-test-start
	@media media-desktop
		// background #FFF

	.b-test-content
		@media media-desktop
			padding-top 165px
			background-repeat no-repeat
			background-image url(../assets/img/perfume/start_test.png)
			background-size 186px
			background-position right top 
		@media media-large
			padding-top 245px
			background-size 226px

	&__text
		margin-bottom 15px
		@media media-pad
			width 290px
			margin 0 auto
		@media media-desktop
			margin 0
			text-align left
			padding-left 25px
		@media media-large
			padding-left 45px
			width 360px 

	&__btn
		@media media-pad
			margin 20px auto
		@media media-desktop
			margin 20px 0 0 25px
		@media media-large
			margin 40px 0 0 45px